.landing__container.left.scrolled {
    animation: slide-in-left 2s ease-in-out both;
  }
.landing__container.right.scrolled{
    animation: slide-in-right 2s ease-in-out both;

}
body {

    font-family: 'Oswald';font-size: 22px;
    text-transform: uppercase;
    background-color: #f2f0e4;
    color:#030303;
    margin: 0;
    font-family: 'Oswald';
    overflow-x: hidden !important;
}

.navbar__menu ul {
    display:flex;
    justify-content:flex-end;
    padding-left: 0;
    text-align: right;
    color:#030303;       
}

.navbar__menu li {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    color:#030303;
}


.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color:#030303;
    transition: ease 0.3s all;
}

section {
    position: relative;
    min-height: 80vh;
    scroll-margin-top: 107px;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

section div p, section div h2, section div h1, ul li a{
    color:#030303;
}

#parent{
    background-color: #f2f0e4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}

#mainimg{
    width: 35%;
    height: 65%;
    border-radius: 90%;
    position: relative;
    box-shadow: 4px 4px 10px #6b645d;
}

.imgs{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

#toprightimg{
    position: absolute;
    width: 15%;
    height: 40%;
    top: 92px;
    right: 383px;
    border-radius: 90%;
    border:7px #f2f0e4 solid;
}

#bottomleftimg{
    position: absolute;
    width: 15%;
    height: 40%;
    bottom: 92px;
    left: 383px;
    border-radius: 90%;
    border:7px #f2f0e4 solid;
}

.line-1{
    position: absolute;
    top: 245px;
    right: 101px;
    border-bottom: 1px solid rgb(80, 80, 78);
    width: 300px;
}

.line-1-div{
    position: absolute;
    top: 245px;
    right: -41px;
    width: 300px;
}

.line-1-div-price{
    position: absolute;
    top: 278px;
    right: -86px;
    width: 300px;
    color: #83ac42;
}

.line-1-text{
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    top: 311px;
    right: 67px;
    text-align: left;
    font-size: xx-small;
}

.line-2 {
    position: absolute;
    top: 471px;
    right: 396px;
    border-bottom: 1px solid rgb(80, 80, 78);
    width: 150px;
}

.line-3{   
    position: absolute;
    top: 471px;
    left: 230px;
    border-bottom: 1px solid rgb(80, 80, 78);
    width: 150px;
}

.home-container{
    display: flex;
    justify-content: flex-end;
}

.add-to-cart, .submit-button{
    background-color: #030303;
    color:#f2f0e4;
    font-family: 'Oswald';
    border-radius: 10%;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
}
.add-to-cart:hover,.submit-button:hover{
    transform: scale(1.15);

}

.add-to-cart{
    top: 347px;
    right: 130px;
    position: absolute;
}

.img-fluid{
    width:  55%;
    height: 55%;
    object-fit: cover;
}

h1,h2 {
    font-size: 3em;
    font-family: 'Oswald';
}

.page__header {
    background: #8da98c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2)
}

a:link:hover{
cursor: pointer;
color: #030303;
}

.landing__container {
    padding: 1em;
    text-align: left;
}

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    gap: 2%;
    justify-content: center;
}
    
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
    
.footer .row a:hover{
    color:#fff;
}
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }

    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }

    .footer .row a i{
    margin:0% 3%;
    }
}


@media screen and (max-width: 400px) {
    .page__header {
      float: none;
      display: flex;
      justify-content: center;
      font-size: smaller;
  
    }

    .navbar__menu{
        float: none;
        display: flex;
        justify-content: center;
        font-size: smaller;
    }
  }

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 0em;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}